<a href="https://colab.research.google.com/github/Sachi-sunil/Customer_shopping_behaviour/blob/main/customer_shopping_behaviour_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Chennai_Clothing_Shop_Data.csv',sep="\t")

In [ ]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (INR),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,45,Other,Blazer,Clothing,9751,"Chennai, Pallavaram",XXL,White,Festive,4.9,No,Express,No,No,39,Wallet,Monthly
1,2,44,Male,Jeans,Clothing,3074,"Chennai, Egmore",XS,White,Spring,2.8,No,Free Shipping,Yes,No,29,Net Banking,Occasionally
2,3,54,Female,Jacket,Clothing,5101,"Chennai, Nungambakkam",M,Yellow,Festive,4.4,No,Free Shipping,No,Yes,30,Credit Card,Monthly
3,4,66,Other,Kurti,Clothing,382,"Chennai, Royapettah",XS,Brown,Festive,4.5,Yes,Standard,No,Yes,19,UPI,Monthly
4,5,22,Male,Chinos,Clothing,1497,"Chennai, Saidapet",L,Beige,Festive,3.8,Yes,Standard,No,Yes,22,Net Banking,Occasionally

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (INR)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3900 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [ ]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (INR),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3900.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,3,20,1,NaN,20,6,16,5,NaN,2,3,2,2,NaN,6,4
top,NaN,NaN,Female,Chinos,Clothing,NaN,"Chennai, Perambur",XXL,White,Festive,NaN,Yes,Standard,No,No,NaN,Credit Card,Monthly
freq,NaN,NaN,1322,222,3900,NaN,229,665,263,798,NaN,1954,1352,2043,1950,NaN,683,997
mean,1950.500000,42.246923,NaN,NaN,NaN,5194.267179,NaN,NaN,NaN,NaN,2.984974,NaN,NaN,NaN,NaN,19.698718,NaN,NaN
std,1125.977353,15.613103,NaN,NaN,NaN,2790.353044,NaN,NaN,NaN,NaN,1.157236,NaN,NaN,NaN,NaN,11.539966,NaN,NaN
min,1.000000,16.000000,NaN,NaN,NaN,301.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
25%,975.750000,29.000000,NaN,NaN,NaN,2767.500000,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN,NaN,10.000000,NaN,NaN
50%,1950.500000,42.000000,NaN,NaN,NaN,5275.500000,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,20.000000,NaN,NaN
75%,2925.250000,56.000000,NaN,NaN,NaN,7564.250000,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,30.000000,NaN,NaN
max,3900.000000,69.000000,NaN,NaN,NaN,9993.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,39.000000,NaN,NaN

In [ ]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (INR)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [ ]:
#for reviews missing
df['Review Rating']= df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [ ]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(inr)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [ ]:
df.rename(columns={
    "purchase_amount_(inr)": "purchase_amount",
}, inplace=True)

In [ ]:
labels = ['Young Adult', 'Adult', 'Middle-Aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels=labels)
#4 equal-sized quartiles and assigns each record one of the labels

In [ ]:
df[['age','age_group']].head(10)

   age    age_group
0   45  Middle-Aged
1   44  Middle-Aged
2   54  Middle-Aged
3   66       Senior
4   22  Young Adult
5   41        Adult
6   66       Senior
7   30        Adult
8   67       Senior
9   68       Senior

In [ ]:
df['frequency_of_purchases'].unique()

array(['Monthly', 'Occasionally', 'Weekly', 'Fortnightly'], dtype=object)

In [ ]:
frequency_mapping = {
    'Monthly' : 30,
    'Weekly' : 7,
    'Fortnightly' : 14,
    'Occasionally': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [ ]:
df[['purchase_frequency_days','frequency_of_purchases']]

      purchase_frequency_days frequency_of_purchases
0                          30                Monthly
1                          90           Occasionally
2                          30                Monthly
3                          30                Monthly
4                          90           Occasionally
...                       ...                    ...
3895                       90           Occasionally
3896                       30                Monthly
3897                       30                Monthly
3898                       90           Occasionally
3899                        7                 Weekly

[3900 rows x 2 columns]

In [ ]:
df[['discount_applied','promo_code_used']]

     discount_applied promo_code_used
0                  No              No
1                 Yes              No
2                  No             Yes
3                  No             Yes
4                  No             Yes
...               ...             ...
3895              Yes             Yes
3896               No              No
3897               No             Yes
3898               No              No
3899              Yes              No

[3900 rows x 2 columns]

In [ ]:
(df['discount_applied'] == df['promo_code_used']).all()

np.False_

In [ ]:
df = df.drop('promo_code_used',axis=1)

In [ ]:
df['location'] = df['location'].str.replace('Chennai, ', '', regex=False)
df['location'].unique()

array(['Pallavaram', 'Egmore', 'Nungambakkam', 'Royapettah', 'Saidapet',
       'Anna Nagar', 'Mylapore', 'Madipakkam', 'Adyar', 'Guindy',
       'Perambur', 'Thiruvanmiyur', 'Tambaram', 'Ambattur',
       'Washermenpet', 'T Nagar', 'Chromepet', 'Porur', 'Kodungaiyur',
       'Velachery'], dtype=object)

In [ ]:
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,45,Other,Blazer,Clothing,9751,Pallavaram,XXL,White,Festive,4.9,No,Express,No,39,Wallet,Monthly,Middle-Aged,30
1,2,44,Male,Jeans,Clothing,3074,Egmore,XS,White,Spring,2.8,No,Free Shipping,Yes,29,Net Banking,Occasionally,Middle-Aged,90
2,3,54,Female,Jacket,Clothing,5101,Nungambakkam,M,Yellow,Festive,4.4,No,Free Shipping,No,30,Credit Card,Monthly,Middle-Aged,30
3,4,66,Other,Kurti,Clothing,382,Royapettah,XS,Brown,Festive,4.5,Yes,Standard,No,19,UPI,Monthly,Senior,30
4,5,22,Male,Chinos,Clothing,1497,Saidapet,L,Beige,Festive,3.8,Yes,Standard,No,22,Net Banking,Occasionally,Young Adult,90

In [ ]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (4.9 kB)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Downloading psycopg2_binary-2.9.11-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.2 MB)
    4.2/4.2 MB 32.7 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl (34.1 MB)
    34.1/34.1 MB 49.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              3900 non-null   int64
 1   age                      3900 non-null   int64
 2   gender                   3900 non-null   object
 3   item_purchased           3900 non-null   object
 4   category                 3900 non-null   object
 5   purchase_amount          3900 non-null   int64
 6   location                 3900 non-null   object
 7   size                     3900 non-null   object
 8   color                    3900 non-null   object
 9   season                   3900 non-null   object
 10  review_rating            3900 non-null   float64
 11  subscription_status      3900 non-null   object
 12  shipping_type            3900 non-null   object
 13  discount_applied         3900 non-null   object
 14  previous_purchases       3900 non-null   int64
 15  payment_method           3900 non-null   object
 16  frequency_of_purchases   3900 non-null   object
 17  age_group                3900 non-null   category
 18  purchase_frequency_days  3900 non-null   int64
dtypes: category(1), float64(1), int64(5), object(12)
memory usage: 552.6+ KB

In [ ]:
df.to_csv('customer_data.csv', index=False)

In [ ]:
from google.colab import files
files.download('customer_data.csv')